/* Color del texto y Fuente de texto de la web */
body{
    font-family: Poppins;
    color: #221E1F;
}
/* Headers definidos */
h1{
    font-size: 62px; 
    padding-bottom: 15px;
}

h2{
    font-size: 32px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

h3{
    font-size: 21px;
    padding-bottom: 15px;
}

h4{
    font-size: 18px;
}

h5{
    font-size: 16px;
}

p{
    font-size: 15px;
}

/* Buttons genericos para toda la web */
button{
    width: auto;
    font-weight: 700;
    border-radius: 2px;
    border: 5px;
    padding: 12px 24px 10px;
    text-align: center;
    text-decoration: none;
}
/* Clases personalizadas para los tipos de botones */
.btn-blue{
    background-color: #0066CC;
    color: #f8f9fa;
    transition: 0.1s linear;
}

.btn-blue:hover{
    background-color: #2755A2;
    transition: 0.1s linear;
}

.btn-white{
    color: #0066CC;
    background-color: #f8f9fa;
    border: 1px solid #0066CC;
    transition: 0.1s linear;
}

.btn-white:hover{
    box-shadow: 0px 6px 5px rgba(100, 149, 255, 0.45); 
    transition: 0.1s linear;
}
/* Logo de la web */
.logo{
    object-fit: cover;
    height: 50px;
}
/* Estilo para cada imagen del carrusel */
.carousel-img {
    height: 40vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(60%);
}

/* Para los form que se hagan dentro de la web */
input,select,textarea{
    border: 1px solid #0066CC !important;
    border-radius: 2px !important;
}

label{
    color: rgb(59, 59, 59);
    margin-bottom: 10px;
}

.carousel-item > div{
    padding: 115px 0 !important;
}

/* Text colors */
.text-color-blue{
    color: #0066CC !important;
}

.text-color-blue-dark{
    color: #2755A2;
}

/* Backgrounds */
.bg-dark{
    background-color: #221E1F !important;
}

.bg-blue{
    background-color: #0066CC !important;
}

.bg-grey{
    background-color: #f8f9fa !important;
}

.bg-blue-dark{
    background-color: #2755A2;
}
